<li role="menuitem"><%= link_to "Home", root_path %></li>
<li role="menuitem"><%= link_to "About Us", "/about" %></li>
<li role="menuitem"><%= link_to "Modules", "#modules_path" %></li>
<% unless current_user %>
<li role="menuitem"><%= link_to "Register", "#new_account_path" %></li>
<% end %>
<li role="menuitem"><%= link_to "Help", "#help_path" %></li>
