<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title><%= title(Rails.application.config.osucom_layout.site_title) %></title>

  <meta name="description" content="<%= meta_content(:description) %>">
  <meta name="author" content="<%= meta_content(:author) %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= yield :meta_tags %>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "osucom_layout_rails/modernizr" %>
    
  <%= yield(:head) %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->
  <%= content_for?(:admin_bar) ? yield(:admin_bar) : render("shared/admin_bar") %>
  
  <div id="osumc_brand_header">
    <%= content_for?(:brand_header) ? yield(:brand_header) : "" %>
  </div>

  <div id="container">
    <header id="page-header" role="banner">

      <%= content_for?(:header) ? yield(:header) : render(:partial=>"shared/header") %>
    
      <div id="brand_bar"></div>
      <nav id="topnav" class="navigation" role="navigation">
        <ul id="nav" role="menu">
          <%= content_for?(:main_menu) ? yield(:main_menu) : render("shared/main_menu") %>
        </ul>
      </nav><!-- end topnav -->
    </header><!-- end head -->
    
    <div class="body">
      <div id="content" class="main" role="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
      </div><!-- end main -->
    </div><!-- end body -->
  </div><!-- end container -->

  <footer id="page-footer" role="contentinfo">
    <div id="footer_contact" class="clearfix">
      <p id="footer_address">Copyright&copy;  <a href="http://medicalcenter.osu.edu">
        The Ohio State University Wexner Medical Center</a><br>
        370 West 9th Avenue, Columbus, Ohio 43210
      </p>
    </div>

    <div id="footer_links" class="clearfix">
      <ul class="column_1">
        <%= content_for?(:footer_menu) ? yield(:footer_menu) : render(:partial=>"shared/footer_menu") %>
      </ul>
      <ul class="column_2">
        <%= content_for?(:footer_links) ? yield(:footer_links) : render(:partial=>"shared/footer_links") %>
      </ul>
    </div>
    
    <div id="footer_logos" class="clearfix">
      <%= link_to image_tag("layout/ogg-logo-small.png", :size=>"150x74"), "http://ogg.osu.edu" %>
    </div>
  </footer><!-- end foot -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<%= debug(params) if Rails.application.config.show_debug and Rails.env.development? %>

<%= javascript_include_tag "application" %>

<%= yield(:footer_js) %>

<%= yield(:google_analytics) %>

</body>
</html>
